* {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right, #f00, #f0f);
}

form {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content:space-around;
    height: 300px;
    width: 300px;
    padding: 20px;
    background-color: #fff;
}

.tittle {
    color: #f00;
}

form label i {
    color: #f0f;
    margin-right: 20px;
}

form label input {
    outline: none;
    border: none;
    border-bottom: solid 1px #f0f;
}

form .link {
    color: #000;
}

form button {
    border: none;
    padding: 10px 10px;
    background:linear-gradient(to right, #f00, #f0f);
    color: #fff;
    font-size: 15px;
    cursor: pointer;

}

